{% sw_extends '@Storefront/storefront/page/account/profile/recover-password.html.twig' %}

{% block page_account_profile_recover_password_mail_label %}
    <label class="form-label" for="recoverMail">
        {{ "teu_customer_number_login.recoverMailLabel"|trans|sw_sanitize }}
    </label>
{% endblock %}

{% block page_account_profile_recover_password_mail_input %}
    <input type="text"
           class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
           autocomplete="section-personal email"
           id="recoverMail"
           name="email[email]"
           required="required">
{% endblock %}
