{% sw_extends '@Storefront/storefront/component/account/login.html.twig' %}


{% block component_account_login_form_mail %}
    <div class="form-group col-md-6 col-lg-12">
        {% block component_account_login_form_mail_label %}
            <label class="form-label"
                   for="loginMail">
                {{ "teu_customer_number_login.loginMailLabel"|trans|sw_sanitize }}
            </label>
        {% endblock %}

        {% block component_account_login_form_mail_input %}
            <input type="text"
                   class="form-control{% if loginError %} is-invalid{% endif %}"
                   id="loginMail"
                   placeholder="{{ "teu_customer_number_login.loginMailPlaceholder"|trans|striptags }}"
                   name="username"
                   required="required">
        {% endblock %}
    </div>
{% endblock %}

{% block component_account_login_form_password %}
    <div class="form-group col-md-6 col-lg-12">
        {% block component_account_login_form_password_label %}
            <label class="form-label"
                   for="loginPassword">
                {{ "account.loginPasswordLabel"|trans|sw_sanitize }}
            </label>
        {% endblock %}
        {% block component_account_login_form_password_input %}
            <input type="password"
                   class="form-control{% if loginError %} is-invalid{% endif %}"
                   id="loginPassword"
                   placeholder="{{ "account.loginPasswordPlaceholder"|trans|striptags }}"
                   name="password"
                   required="required">
        {% endblock %}
    </div>
{% endblock %}
